body{
			font-family: Helvetica;
		}
		table{
			border-collapse: collapse;
			border-left-style: solid;
			border-left-color:black;
			border-left-width: 3px;
			border-bottom-style: solid;
			border-bottom-color:black;
			border-bottom-width: 3px;
			border-right-style: solid;
			border-right-color:black;
			border-right-width: 3px;
			border-top-style: solid;
			border-top-color:black;
			border-top-width: 3px;

		}
		td{
			padding: 8px;
		}
		.bold{
			font-weight: bold;
		}
		.center{
			text-align: center;
		}
		.right{
			text-align: right;
		}
		.no-border{
			border-style: none;
		}